@tailwind base;
    @tailwind components;
    @tailwind utilities;

    :root {
      background-color: #050505;
      color: #e5e5e5;
      cursor: crosshair; /* Cursor em cruz para sensação técnica */
    }

    body {
      margin: 0;
      font-family: 'JetBrains Mono', monospace;
      -webkit-font-smoothing: none;
      overflow-x: hidden;
    }

    /* Efeito CRT (Scanlines) */
    .scanlines {
      background: linear-gradient(
        to bottom,
        rgba(255,255,255,0),
        rgba(255,255,255,0) 50%,
        rgba(0,0,0,0.2) 50%,
        rgba(0,0,0,0.2)
      );
      background-size: 100% 4px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      z-index: 50;
    }

    /* Utilitários de Texto */
    .text-stroke {
      -webkit-text-stroke: 1px rgba(255,255,255,0.3);
      color: transparent;
    }
    
    .text-stroke-hover:hover {
      -webkit-text-stroke: 0px;
      color: #00FF00;
    }

    ::selection {
      background: #fff;
      color: #000;
    }
